body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: rgb(19,117,109);
  margin: 0;
  padding: 0;
}

button[type='button'] {
  border: none;
}

.pointer {
  cursor: pointer;
}

.fontFamily {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.flexRow {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: space-between;
}

.header {
  color: white;
  background: rgb(250,80,70);
  padding: 10px 200px 15px 200px;
  text-align: center;
}
.title {
  margin: 0 0 10px 0;
  font-size: 1.5em;
}

.newTask,
.due,
.dueOn,
.addBtn {
  box-sizing: border-box;
  height: 30px;
  border: none;
  margin-bottom: 15px;
  font-size: 0.8em;
}
.newTask {
  flex: 1 0 auto;
  padding: 0 15px;
}
.due {
  padding-top: 8px;
  color: grey;
  background: white;
}
.dueOn{
  text-indent: 5px;
}
.addBtn {
  width: 60px;
  color: white;
  background: rgb(117,123,133);
  padding: 0;
}
.addBtn:hover {
  color: black;
}
.select {
  width: 110px;
  height: 17px;
  border: none;
}
.search {
  width: 200px;
  height: 17px;
  border: none;
  border-radius: 5px;
  padding: 0;
  text-indent: 5px;
}

.totalTasks {
  background: rgb(0,150,136);
  padding: 20px 0;
  margin: 0;
  font-size: 1.5em;
  text-align: center;
}
.emphasis {
  font-size: 2em;
}

ul {
  /*list-style: none;*/
  margin: 0;
  padding: 0;
}
li {
  font-size: 1.1em;
  padding: 15px 25px 15px 5px ;
  background: linear-gradient(rgb(0,215,200) 0%, rgb(0,190,180) 100%);
}
.textFlex {
  flex: 1 5000 auto;
  margin: 0 100px 0 15px;
}
.textContent:hover,
.noteContent:hover,
.dateContent:hover {
  color: white;
}
.editText,
.editNote,
.editDate {
  box-sizing: border-box;
  width: 100%;
  padding: 0;
  border: none;
  outline: none; /* remove border focus */
}
.editText,
.editNote {
  font-size: 1em;
}
.editDate {
  font-size: 11px;
}
.dueToday {
  color: white;
}
.star,
.check {
  visibility: hidden;
}
.star {
  font-size: 23px;
  margin-left: 30px;
}
.check {
  font-size: 18px;
  margin-left: 10px;
}
.star::before,
.check::before {
  position: relative;
  visibility: visible;
}
.star::before {
  content: '\2606';
  top: -6px;
  left: -15px;
}
.check::before {
  content: '\26aa';
  top: -6px;
  left: -2px;
}
.star:checked::before,
.star:hover::before {
  content: '\2605';
}
.check:checked::before {
  content: '\2713';
}
.deleteButton {
  background: rgb(240, 240, 240);
  font-size: 12px;
}

/* Collapsible button */
.collapsibleButton {
  background: transparent no-repeat;
  cursor: pointer;
  padding: 0;
  margin-left: 10px;
  font-size: 13px;
  outline: none;
}
.collapsibleButton.hiding::before {
  content: '\2795'; /* "+" sign */
}
.collapsibleButton.showing::before {
  content: '\2796'; /* "-" sign */
}

/* Notes */
.noteSection {
  margin: 5px 282px 0 100px;
  font-size: 0.9em;
  color: rgb(25, 25, 25);
  cursor: pointer;
  max-height: 100px;
  transition: max-height 0.5s ease-out;
  overflow: scroll;
}
.noteSection.hiding {
  max-height:0;
}

.taskCompleted {
  color: rgb(117,123,133);
  text-decoration: line-through;
}

/* Clear Completed & Clear All buttons */
.clearBtns {
  padding: 15px 200px;
}
.clearBtn {
  color: rgb(170,170,170);
  background: transparent;
  font-size: 1.5em;
}
.clearBtn:hover {
  color: white;
}