body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: rgb(19,117,109);
  margin: 0;
  padding: 0;
}

button[type='button'] {
  border: none;
}

.pointer {
  cursor: pointer;
}

.fontFamily {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.flexRow {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.header {
  color: white;
  background: rgb(250,80,70);
  padding: 10px 200px 15px 200px;
  text-align: center;
}
.title {
  margin: 0 0 10px 0;
  font-size: 1.5em;
}
.newTask, 
.dueOn {
  box-sizing: border-box;
  height: 30px;
  border: none;
  margin-bottom: 15px;
  font-size: 0.8em;
  text-indent: 5px;
}
.select {
  width: 110px;
  height: 17px;
  border: none;
}
.search {
  width: 200px;
  height: 17px;
  border: none;
  border-radius: 5px;
  padding: 0;
  text-indent: 5px;
}

.totalTasks {
  background: rgb(0,150,136);
  padding: 20px 0;
  margin: 0;
  font-size: 1.5em;
  text-align: center;
}
.emphasis {
  font-size: 2em;
}

ul {
  /*list-style: none;*/
  margin: 0;
  padding: 0;
}
li {
  font-size: 1.1em;
  padding: 15px 25px 15px 5px ;
  background: linear-gradient(rgb(0,215,200) 0%, rgb(0,190,180) 100%);
}
.taskFlexGrow {
  flex: 1 0 auto;
  padding: 0 15px;
}
.taskCompleted {
  color: rgb(117,123,133);
  text-decoration: line-through;
}
.content:hover {
  color: white;
}
.editText,
.editDate {
  box-sizing: border-box;
  width: 100%;
  border: none;
  text-indent: 5px;
  outline: none; /* removes focus border: */
}
.editText {
  font-size: 16px;
}
.editDate {
  font-size: 11px;
}
.dueToday {
  color: white;
}
.star,
.check {
  visibility: hidden;
}
.star {
  font-size: 23px;
  margin-left: 30px;
}
.check {
  font-size: 18px;
  margin-left: 10px;
}
.star::before,
.check::before {
  position: relative;
  visibility: visible;
}
.star::before {
  content: '\2606';
  top: -6px;
  left: -15px;
}
.check::before {
  content: '\26aa';
  top: -6px;
  left: -2px;
}
.star:checked::before,
.star:hover::before {
  content: '\2605';
}
.check:checked::before {
  content: '\2713';
}
/* ------------------------------- */
/*.collapsible {*/
  /*visibility: hidden;*/
  /*-webkit-transform: rotate(-90deg);*/
/*  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);*/
/*}
.collapsible::before {
  content: '\276F';
}*/
/* ------------------------------- */
.clearBtns {
  padding: 15px 200px;
}
.clearBtn {
  color: rgb(170,170,170);
  background: rgb(19,117,109);
  font-size: 1.5em;
}
.clearBtn:hover {
  color: white;
}

/* ------------------------------- */

.collapse {
  display: none;
}

.collapseIn {
  display: block;
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapseIn:hover {
  background-color: #555;
}

.collapseIn:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

/*.collapsible1 {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active1, .collapsible1:hover {
  background-color: #555;
}

.collapsible1:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active1:after {
  content: "\2212";
}

.content1 {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}*/